#hardcore {
    .form {
        input {
            &.form-control {
                font-weight: 300;
                font-size: 16px;
                height: 50px;
                line-height: 50px;
            }
        }

        .el-checkbox {
            .el-checkbox__label {
                font-weight: 300;
            }
        }

        .el-checkbox + .el-checkbox {
            margin-left: 0;
        }
    }
}
