.table {
    td {
        .limit_text {
            max-width: 450px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#admin {
    &.items {
        .edit {
            background: #f1f1f1;
            td {
                padding: 20px;

                h4 {
                    text-align: center;
                    display: block;
                    margin: 0 0 25px;
                    font-weight: 300;
                    font-size: 16px;
                }

                .form-horizontal {
                    label {
                        font-weight: 300;
                    }
                }
            }
        }
    }
}