#blacklist {
    .items {
        .page {
            padding: 0;
        }

        .item {
            background: #eee;
            border-radius: $border-radius-base;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            cursor: pointer;

            &.active {
                background: #20a0ff;
                color: #fff;
            }

            .thumb {
                height: 64px;
                line-height: 64px;
                display: block;
                margin: 0 auto 10px;
                text-align: center;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: normal;
                }
            }

            .name {
                font-weight: 300;
                font-size: 12px;
                text-align: center;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .blacklist-dialog {
        textarea {
            height: 400px;
            max-height: 400px;
            overflow: auto;
            resize: none;
        }
    }

    .filter {
        .el-select {
            width: 100%;

            .el-input {
                .el-input__inner {
                    height: 50px;
                    line-height: 50px;
                }
            }
        }

        .el-slider {
            .el-slider__runway {
                margin: 13px 0 5px
            }
        }

        label {
            font-weight: 300;
            margin: 4px 0 0;
        }
    }

    .counter {
        display: block;
        text-align: right;
        font-size: 20px;
        font-weight: 300;
        height: 50px;
        line-height: 50px;
    }

    .creatures {
        .creature {
            position: relative;

            &:hover {
                .btn-close {
                    display: block;
                }
            }

            .btn-close {
                display: none;
                position: absolute;
                top: calc(50%);
                left: calc(50% - 7px);
                background: none;
                font-size: 100px;
                line-height: 0;
                border: 0;
                color: rgba(0, 0, 0, .3);
                height: 100%;
                background: #fff;
                width: 100px;
                text-align: center;
                transform: translate(-50%, -50%);
            }

            .thumb {
                display: block;
                margin: 0 auto 20px;
                height: 64px;
                line-height: 64px;
                text-align: center;

                img {
                    display: inline-block;
                    line-height: normal;
                    vertical-align: middle;
                }
            }

            .name {
                font-weight: 300;
                font-size: 16px;
                text-align: center;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .field {
            height: 149px;

            .el-select {
                width: 100%;

                .el-input {
                    margin-top: 30px;

                    .el-input__inner {
                        height: 50px;
                        line-height: 50px;
                        font-size: 24px;
                        font-weight: 300;
                        border: 0;
                        text-align: center;
                        cursor: text;
                    }
                }
            }
        }
    }
}