#blessings {
    .level {
        height: 60px;
        font-size: 20px;
    }

    .el-checkbox {
        line-height: 55px;

        .el-checkbox__label {
            font-weight: 400;
        }
    }
}