.btn {
    border: 0;
    padding: 10px 20px;
    border-radius: $border-radius-base;
    background-color: #ddd;

    &.btn-primary {
        background-color: $brand-primary;
    }

    &.btn-success {
        background-color: $brand-success;
    }

    &.btn-warning {
        background-color: $brand-warning;
    }

    &.btn-danger {
        background-color: $brand-danger;
    }

    &.btn-default {
        background: darken(#c5493c, 5%);
        color: #fff;

        &:hover {
            background: darken(#c5493c, 10%);
            color: #fff;
        }
    }

    &.btn-blank {
        background: none;
        border: none;
        color: #444;
        box-shadow: none;
    }

    &.btn-xs {
        padding: 3px 6px;
    }

    &.btn-lg {
        padding: 15px 30px;
    }

    &.btn-link {
        padding: 0;
        display: inline-block;
    }
}