.card {
    background: #fff;
    display: block;
    width: 100%;
    margin-bottom: 30px;

    &.dark {
        .icon {
            background: #3d3d3d;
        }
    }

    .icon {
        background: $theme;
        display: block;
        float: left;
        height: 89px;
        padding: 20px;
        line-height: 48px;
        width: 89px;
        text-align: center;
    }

    .information {
        float: left;
        display: block;
        padding: 20px;

        h3 {
            margin: 0 0 5px;
            font-size: 25px;
            font-weight: 600;
        }

        h5 {
            margin: 0;
            font-size: 16px;
            font-weight: 300;
        }
    }

    .anchor {
        float: right;
        display: block;
        padding-right: 20px;

        a {
            font-size: 20px;
            line-height: 89px;
            display: block;
            height: 89px;
            color: lighten($theme-dark, 20%);
        }


    }
}