#currencies {
    .filters {
        .el-select {
            .el-input {
                .el-input__inner {
                    height: 50px;
                    line-height: 50px;
                    font-weight: 300;
                }
            }
        }
    }

    table {
        &.table {
            tr {
                &.current {
                    td {
                        font-size: 20px;
                        font-weight: 300;
                        color: #000;
                    }
                }
            }
        }
    }
}