#equipments {
    #slots {
        .panel-slots {
            background: url('/src/assets/images/equipments-texture.gif');
            border-top: 2px solid #747474;
            border-left: 2px solid #747474;
            border-right: 2px solid #2d2d2d;
            border-bottom: 2px solid #2d2d2d;

            .slots {
                height: 150px;
                text-align: center;
                position: relative;

                .slot {
                    background: #ccc;
                    border: 1px solid #999;
                    height: 34px;
                    width: 34px;
                    position: absolute;
                    left: 50%;
                    top: 0;

                    &.amulet,
                    &.armor,
                    &.weapon,
                    &.ring,
                    &.ammunition,
                    &.backpack,
                    &.shield,
                    &.boots,
                    &.helmet {
                        .item {
                            > span {
                                position: relative;
                                left: -1px;
                            }

                            img {
                                cursor: pointer;
                            }
                        }
                    }

                    &.dragging {
                        outline: 1px solid rgba(255, 255, 255, .8);
                    }

                    .draggable {
                        display: block;
                        width: 34px;
                        height: 34px;
                        overflow: hidden;
                    }

                    &.active {
                        background: url('/src/assets/images/backpack-slot.png') !important;
                    }
                }

                .amulet {
                    background: url('/src/assets/images/equipments.gif') 1px 127px;
                    top: 10px;
                    transform: translateX(calc(-50% - 39px));
                }

                .helmet {
                    background: url('/src/assets/images/equipments.gif') -32px 128px;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .backpack {
                    background: url('/src/assets/images/equipments.gif') -63px 128px;
                    top: 10px;
                    transform: translateX(calc(-50% + 39px));
                }

                .weapon {
                    background: url('/src/assets/images/equipments.gif') 0px 96px;
                    top: 49px;
                    transform: translateX(calc(-50% - 39px));
                }

                .armor {
                    background: url('/src/assets/images/equipments.gif') -32px 96px;
                    top: 39px;
                    transform: translateX(-50%);
                }

                .shield {
                    background: url('/src/assets/images/equipments.gif') -64px 96px;
                    top: 49px;
                    transform: translateX(calc(-50% + 39px));
                }

                .ring {
                    background: url('/src/assets/images/equipments.gif') 0px 64px;
                    top: 88px;
                    transform: translateX(calc(-50% - 39px));
                }

                .legs {
                    background: url('/src/assets/images/equipments.gif') -32px 64px;
                    top: 78px;
                    transform: translateX(-50%);
                }

                .ammunition {
                    background: url('/src/assets/images/equipments.gif') -64px 64px;
                    top: 88px;
                    transform: translateX(calc(-50% + 39px));
                }

                .boots {
                    background: url('/src/assets/images/equipments.gif') -32px 31px;
                    top: 117px;
                    transform: translateX(-50%);
                }
            }
        }
    }

    #items {
        .el-tabs {
            .el-tabs__header {
                margin-bottom: 0;
                border: 0;

                .el-tabs__item {
                    border: 0;
                    padding: 10px 15px;
                    height: 52px;
                    line-height: 52px;

                    &.is-active {
                        border: 0;
                        background: #fff;
                    }

                    img {
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }

        .items {
            .panel-body {
                padding: 10px 20px 20px;

                > .row {
                    margin-left: -2px;
                    margin-right: -10px;
                }

                .page {
                    max-height: 390px;
                    overflow: auto;
                }
            }

            .filter {
                display: block;
                margin: 10px 0;

                .form-control {
                    max-width: 300px;
                    height: 50px;
                    line-height: 50px;
                    font-weight: 300;
                }
            }

            .item {
                background: #f1f1f1;
                padding: 12px;
                display: inline-block;
                text-align: center;
                margin: 2px;
                border-radius: $border-radius-base;
                cursor: pointer;

                &:focus {
                    outline: 0;
                    box-shadow: 0;
                }

                &.active {
                    background: $theme;
                    color: #fff;
                }

                .thumb {
                    display: block;
                }

                .name {
                    display: block;
                    font-size: 12px;
                    font-weight: 300;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    #status {
        .status {
            &.large {
                height: 470px;
            }

            h4 {
                display: block;
                margin: 0 0 20px;
                font-size: 20px;
                font-weight: 300;
            }

            .properties-details {
                .property {
                    display: inline-block;
                    width: calc(33% - 10px);

                    .name {
                        font-size: 14px;
                        font-weight: 300;
                        display: block;
                        margin-bottom: 5px;
                    }

                    .value {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }

            .properties {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: 300;
                    font-size: 12px;
                    border-bottom: 1px solid #f1f1f1;
                    padding-bottom: 5px;

                    &:last-child {
                        border: 0;
                        padding: 0;
                        margin: 0;
                    }

                    span {
                        display: inline-block;
                        width: calc(50% - 10px);

                        &.value {
                            text-align: right;
                            font-size: 16px;

                            &.positive {
                                color: $brand-success;
                            }

                            &.negative {
                                color: $brand-danger;
                            }
                        }
                    }
                }
            }
        }
    }
}

.el-popover {
    &.slot-item-popper {
        padding: 20px;
        border: 0;
        border-radius: $border-radius-base;
        min-width: 300px;

        h4 {
            font-size: 16px;
            display: block;
            margin: 0 0 15px;
            font-weight: 300;
        }

        .properties {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;
                margin-bottom: 3px;
                font-weight: 300;
                border-bottom: 1px solid #f1f1f1;

                &:last-child {
                    border-bottom: 0;
                }

                b {
                    font-weight: 400;
                    width: calc(50% - 5px);
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }

                span {
                    width: calc(50% - 10px);
                    display: inline-block;
                    text-align: right;
                    font-size: 16px;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }
        }

        .btn-remove {
            font-weight: 300;
            display: block;
            margin-top: 15px;
            padding: 6px 10px;
            font-size: 12px;
        }

        .imbuements {
            display: block;
            margin-top: 20px;

            h5 {
                display: block;
                margin-bottom: 15px;
                font-size: 16px;
                font-weight: 300;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: block;
                    margin-bottom: 5px;
                }
            }

            .btn {
                font-weight: 300;
                display: block;
                margin-top: 15px;
                padding: 6px 10px;
                font-size: 12px;
            }
        }
    }
}

.item-popper {
    .item-details {
        h4 {
            font-size: 16px;
            display: block;
            margin: 0 0 15px;
            font-weight: 300;
        }

        .properties {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;
                margin-bottom: 3px;
            }
        }
    }
}