#equipments {
    .tabs {
        li {
            a {
                padding: 0 6px;
                height: 52px;
                line-height: 52px;
            }
        }
    }

    .items {
        .item {
            display: inline-block;
            margin: 5px;
            min-height: 32px;
            min-width: 32px;
            cursor: move;
        }
    }

    .equips {
        height: 200px;
        text-align: center;
        position: relative;

        .equip {
            background: #ccc;
            background: url('/src/assets/images/backpack-slot.png');
            border: 1px solid #999;
            height: 32px;
            width: 32px;
            position: absolute;
            left: 50%;
            top: 0;

            .draggable {
                display: block;
                width: 32px;
                height: 32px;
                overflow: hidden;
            }
        }

        .amulet {
            background: url('/src/assets/images/equipments.gif') 0 128px;
            top: 10px;
            transform: translateX(calc(-50% - 37px));
        }

        .helmet {
            background: url('/src/assets/images/equipments.gif') -32px 128px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .backpack {
            background: url('/src/assets/images/equipments.gif') -63px 128px;
            top: 10px;
            transform: translateX(calc(-50% + 37px));
        }

        .weapon {
            background: url('/src/assets/images/equipments.gif') 0px 96px;
            top: 47px;
            transform: translateX(calc(-50% - 37px));
        }

        .armor {
            background: url('/src/assets/images/equipments.gif') -32px 96px;
            top: 37px;
            transform: translateX(-50%);
        }

        .shield {
            background: url('/src/assets/images/equipments.gif') -64px 96px;
            top: 47px;
            transform: translateX(calc(-50% + 37px));
        }

        .ring {
            background: url('/src/assets/images/equipments.gif') 0px 66px;
            top: 84px;
            transform: translateX(calc(-50% - 37px));
        }

        .legs {
            background: url('/src/assets/images/equipments.gif') -32px 66px;
            top: 74px;
            transform: translateX(-50%);
        }

        .ammunition {
            background: url('/src/assets/images/equipments.gif') -64px 66px;
            top: 84px;
            transform: translateX(calc(-50% + 37px));
        }

        .boots {
            background: url('/src/assets/images/equipments.gif') -32px 32px;
            top: 111px;
            transform: translateX(-50%);
        }
    }

    .wrap {
        background: url('/src/assets/images/equipments-texture.gif');
        display: block;
        padding: 20px;
        width: 100%;
        text-align: left;
    }
}

.equipmentPopper {
    .el-popover__title {
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: #444;
    }
}