#highscores {
    .highscores-menu {
        display: block;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: block;

            &.experience {
                li {
                    &.all {
                        width: 80px;

                        a {
                            .thumb {
                                margin: 0;
                            }
                        }
                    }

                    a {
                        height: 90px;

                        .thumb {
                            height: 50px;
                            line-height: 50px;
                            vertical-align: middle;

                            img {
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }

            &.skills {
                li {
                    width: auto;

                    a {
                        display: block;
                        padding: 10px 20px;

                        span {
                            display: block;
                            font-size: 12px;
                            width: 100%
                        }
                    }
                }
            }

            .vocations {
                display: inline-block;
                width: calc(100% - 110px);
                vertical-align: middle;
            }
            
            li {
                display: inline-block;
                width: calc(25% - 20px);
                margin-right: 20px;
                margin-bottom: 20px;
                vertical-align: middle;

                &:last-child {
                    margin-right: 0;
                }
                
                a {
                    background: #fff;
                    padding: 20px;
                    display: block;
                    border-radius: $border-radius-base;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

                    &.active {
                        background: #2c3e50;
                        color: #fff;

                        span {
                            font-weight: 400;
                            color: #fff;
                        }
                    }

                    .thumb {
                        width: 40px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                        
                        img {
                            max-width: 40px;
                            max-height: 50px;
                        }
                    }
                    
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        width: calc(100% - 65px);
                        font-size: 16px;
                        font-weight: 300;
                        color: #888;
                    }
                }
            }
        }
    }
    
    .highscore-loading {
        padding: 20px;
        display: block;
        margin-top: 40px;

        .loader {
            vertical-align: middle;
            margin-right: 20px;
            height: 40px;
            width: 40px;
            border-color: #888;
            border-top-color: transparent;
        }

        .loading-text {
            display: inline-block;
            vertical-align: middle;
            font-weight: 300;
            font-size: 18px;
            font-style: italic;
            color: #888;

            small {
                display: block;
                font-size: 12px;
                text-align: left;
            }
        }
    }

    .filter {
        .el-select {
            .el-input {
                .el-input__inner {
                    height: 50px;
                    line-height: 50px;
                    font-weight: 300;
                }
            }
        }
    }

    .highscores {
        table {
            &.table {
                thead {}

                tbody {
                    tr {
                        td {
                            &.details {
                                .rank {
                                    display: inline-block;
                                    height: 30px;
                                    line-height: 30px;
                                    width: 30px;
                                    background: #f39c12;
                                    text-align: center;
                                    border-radius: 100%;
                                    margin-right: 15px;
                                    color: #fff;
                                    font-weight: 300;
                                    font-size: 12px;
                                }

                                .name {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: calc(100% - 55px);

                                    a {
                                        font-weight: 600;
                                        font-size: 14px;
                                        display: block;
                                    }

                                    span {
                                        display: block;
                                        font-weight: 300;
                                        font-size: 12px;
                                    }
                                }
                            }

                            &.skill {
                                b {
                                    display: block;
                                    font-size: 20px;
                                    font-weight: 700;
                                }

                                span {
                                    display: block;
                                    font-size: 12px;
                                    font-weight: 300;
                                }
                            }

                            &.level {
                                padding-right: 50px;

                                .progress-label {
                                    display: block;
                                    margin-bottom: 5px;

                                    b {
                                        display: inline-block;
                                        width: calc(50% - 5px);
                                        vertical-align: middle;
                                        font-size: 12px;
                                        font-weight: 300;
                                    }

                                    span {
                                        display: inline-block;
                                        text-align: right;
                                        vertical-align: middle;
                                        font-weight: 700;
                                        width: 50%;
                                        font-size: 16px;
                                    }
                                }

                                .el-progress {
                                    margin-bottom: 4px;
                                }
                            }

                            &.world {
                                a {
                                    font-weight: 400;
                                    font-size: 14px;
                                    display: block;
                                }

                                span {
                                    display: block;
                                    font-weight: 300;
                                    font-size: 12px;
                                }
                            }

                            &.buttons {
                                .btn {
                                    padding: 5px 9px;
                                    font-weight: 300;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .el-table {
            border: 0;

            &::before,
            &::after {
                background-color: #fff;
            }

            tr {
                background-color: #fff;
            }

            .el-table__header-wrapper {
                tr {
                    th {
                        padding: 12px;
                        border-bottom: 1px solid #eee;
                        background-color: #fff;

                        .cell {
                            padding: 0;
                            color: #444;
                            vertical-align: middle;
                            font-size: 12px;
                            text-transform: uppercase;
                            background: none;
                        }
                    }
                }
            }

            .el-table__body-wrapper {

                .el-table__row {
                    td {
                        padding: 12px;
                        border-color: #eee;

                        .cell {
                            padding: 0;
                            vertical-align: middle;
                            color: #636b6f;
                        }

                        &.details {
                            .rank {
                                display: inline-block;
                                height: 30px;
                                line-height: 30px;
                                width: 30px;
                                background: #f39c12;
                                text-align: center;
                                border-radius: 100%;
                                margin-right: 15px;
                                color: #fff;
                                font-weight: 300;
                                font-size: 12px;
                            }

                            .name {
                                display: inline-block;
                                vertical-align: middle;
                                width: calc(100% - 55px);

                                a {
                                    font-weight: 600;
                                    font-size: 14px;
                                    display: block;
                                }

                                span {
                                    display: block;
                                    font-weight: 300;
                                    font-size: 12px;
                                }
                            }
                        }

                        &.skill {
                            b {
                                display: block;
                                font-size: 20px;
                                font-weight: 700;
                            }

                            span {
                                display: block;
                                font-size: 12px;
                                font-weight: 300;
                            }
                        }

                        &.level {
                            padding-right: 50px;

                            .progress-label {
                                display: block;
                                margin-bottom: 5px;

                                b {
                                    display: inline-block;
                                    width: calc(50% - 5px);
                                    vertical-align: middle;
                                    font-size: 12px;
                                    font-weight: 300;
                                }

                                span {
                                    display: inline-block;
                                    text-align: right;
                                    vertical-align: middle;
                                    font-weight: 700;
                                    width: 50%;
                                    font-size: 16px;
                                }
                            }

                            .el-progress {
                                margin-bottom: 4px;
                            }
                        }

                        &.world {
                            a {
                                font-weight: 400;
                                font-size: 14px;
                                display: block;
                            }

                            span {
                                display: block;
                                font-weight: 300;
                                font-size: 12px;
                            }
                        }

                        &.buttons {
                            .btn {
                                padding: 5px 12px;
                                font-weight: 300;
                                font-size: 12px;
                            }
                        }

                        &.advance {
                            b {
                                font-weight: 600;
                                display: block;
                                color: #27ae60;

                                &.loose {
                                    color: #e74c3c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.el-dropdown-menu {
    a {
        li {
            display: block;
            font-weight: 300;
            padding: 0 25px;
            font-size: 14px;
        }
    }
}

.highscores-world-popper {
    .el-select-dropdown__item {
        height: auto;

        b {
            display: block;
            font-weight: 400;
            margin-bottom: 3px;
        }

        span {
            display: block;
            font-weight: 300;
            font-size: 10px;
        }
    }
}