#home {
    .welcome {

    }

    .news {
        header {
            display: block;
            margin: 0 0 30px;
            position: relative;

            h4 {
                font-weight: 700;
                font-size: 22px;
                margin: 0;
                display: inline-block;
            }
        }

        article {
            font-size: 14px;
            font-weight: 300;

            .note-float-right {
                margin-left: 15px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        .source {
            display: block;
            margin-top: 40px;
            font-weight: 300;
            font-size: 12px;
            color: #888;
            font-style: italic;

            b {
                font-weight: 400;
            }

            a {
                color: $theme;
            }
        }

        footer {
            display: block;
            margin-top: 30px;
            font-weight: 300;
            font-size: 12px;
            border-top: 1px solid #eee;
            padding-top: 15px;

            .comments {
                display: inline-block;
                margin-right: 15px;
            }
        }
    }

    .features {
        h4 {
            font-weight: 300;
            font-size: 18px;
            margin: 0 0 30px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        img {
            margin: 0 10px 0 0;
            display: inline-block;
            vertical-align: middle;
        }

        .read {
            display: inline-block;
            padding: 6px 15px;
            width: calc(100% - 50px);
            font-weight: 300;
            font-size: 20px;
            vertical-align: middle;
        }
    }

    .hotnews {
        h4 {
            font-weight: 300;
            font-size: 22px;
            margin: 0 0 30px;
            display: inline-block;
        }

        ul {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: block;
                margin: 0 0 7px;

                a {
                    color: #444;
                    font-weight: 300;
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;

                    img {
                        display: inline-block;
                        margin-right: 10px;
                        max-width: 25px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .discord {
        .panel-body {
            color: #fff;
            background: #7289DA;

            a {
                color: #fff;
                display: block;
                font-weight: 300;
                font-size: 20px;

                img {
                    display: inline-block;
                    margin-right: 15px;
                    width: 40px;
                    vertical-align: middle;
                }
            }
        }
    }

    .tools {
        display: block;
        margin-top: 50px;
        color: #333;

        h4 {
            font-weight: 700;
            font-size: 20px;
            margin: 0 0 30px 15px;
            display: block;
        }

        .col-md-3 {
            > a {
                transition: all .2s;
            }
        }
    }
}