#hunting-spots {
    .filterVocations {
        margin-bottom: 20px;

        .el-checkbox-button {
            width: 25%;

            &.is-checked {
                .el-checkbox-button__inner {
                    background-color: $theme;
                    border-color: $theme;
                    box-shadow: -1px 0 0 0 darken($theme, 5%);

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .el-checkbox-button__inner {
                width: 100%;
                padding: 20px;

                &:hover {
                    color: $theme;
                }
            }
        }
    }

    .hunting-spot-form {
        .vocations {
            margin-bottom: 20px;

            .el-checkbox-button {
                width: 25%;

                &.is-checked {
                    .el-checkbox-button__inner {
                        font-weight: 400;
                    }
                }

                .el-checkbox-button__inner {
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    padding: 0;
                }
            }
        }

        .note-editor {
            &.note-frame {
                border: 1px solid #ccd0d2;
                border-radius: $border-radius-base;
                margin-bottom: 0;
            }

            .note-toolbar {
                .btn {
                    padding: 5px 8px;
                }
            }

            .note-placeholder {
                font-weight: 300;
                color: #999;
            }

            .note-editable {
                font-weight: 300;
            }
        }

        .el-checkbox-group {
            text-align: center;

            .el-checkbox-button {
                margin-bottom: 0;

                .el-checkbox-button__inner {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        input[type=text] {
            &.form-control {
                height: 50px;
                line-height: 50px;
            }
        }

        .form-control {
            font-size: 16px;
            font-weight: 300;
            box-shadow: none;
        }

        .helper-block {
            display: block;
            font-size: 10px;
            margin-top: 5px;
            color: #888;
        }

        .minLevel,
        .maxLevel {
            font-size: 20px;
            display: block;
            font-weight: 300;
            float: left;
        }

        .maxLevel {
            float: right;
        }

        .slider-label {
            label {
                display: inline-block;
                font-weight: 300;
                font-size: 14px;
                color: #919191;
                vertical-align: bottom;
                width: 100px;
            }

            .value {
                font-size: 20px;
                display: inline-block;
                font-weight: 300;
                text-align: right;
                vertical-align: bottom;
                width: calc(100% - 105px);
            }
        }

        .el-select {
            .el-input__inner {
                font-weight: 300;
                height: 50px;
                line-height: 50px;
            }
        }

        .el-input-number {
            width: 100% !important;

            .el-input-number__decrease {
                height: 50px;
                line-height: 50px;
            }

            .el-input-number__increase {
                height: 50px;
                line-height: 50px;
            }

            .el-input {
                .el-input__inner {
                    height: 50px;
                    line-height: 50px;
                    font-weight: 300;
                }
            }
        }

        .btn-delete {
            margin-top: 13px;
        }

        .el-cascader {
            width: 100%;

            .el-input__inner {
                height: 50px;
                line-height: 50px;
            }

            .el-cascader__label {
                line-height: 50px;
            }
        }

        .options {
            .form-group {
                label {
                    display: inline-block;
                    font-weight: 300;
                    font-size: 14px;
                    color: #919191;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }

        .creatures {
            .creature {
                display: inline-block;
                padding: 15px;
                border-radius: $border-radius-base;
                background: #20a0ff;
                color: #fff;
                width: 100%;
                height: 150px;
                vertical-align: top;
                text-align: center;
                position: relative;
                margin-top: 30px;

                .btn-delete {
                    position: absolute;
                    top: 0;
                    left: 15px;
                    background: rgba(0, 0, 0, .2);

                    &:hover {
                        color: #fff;
                        background: rgba(0, 0, 0, .4);
                    }
                }

                .thumb {
                    height: 64px;
                    line-height: 64px;
                    display: block;
                    margin-bottom: 5px;

                    img {
                        line-height: normal;
                        vertical-align: middle;
                        display: inline-block;
                    }
                }

                .name {
                    display: block;
                    line-height: 55px;
                    height: 55px;

                    span {
                        line-height: normal;
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
            }
        }

        .creature-options {
            .el-select {
                width: 100%;

                .el-input__inner {
                    cursor: text;
                }
            }
        }

        .location {
            .btn-delete {
                margin-top: 13px;
            }
        }
    }

    &.hunting-spots__inner {
        font-weight: 300;

        .el-tabs {
            .el-tabs__header {
                margin: 0;
                border: 0;

                .el-tabs__item {
                    border: 0 !important;

                    &.is-active {
                        background: #fff;
                        border: 0;
                        color: #000;
                    }
                }
            }
        }

        .content {
            h3 {
                margin: 0 0 20px;
                font-weight: 600;
                display: block;
                font-size: 18px;
                border-left: 4px solid $theme;
                padding-left: 16px;
                margin-left: -20px;
                line-height: 40px;
                color: #666;
            }

            .content-text {
                margin-bottom: 30px;

                &:last-child {
                    margin: 0;
                }
            }

            header {
                h3 {
                    display: inline-block;
                    margin-right: 50px;
                }

                .el-radio-group {
                    .el-radio-button {
                        font-weight: 300;
                    }
                }
            }
        }

        .supplies {
            display: block;

            .supply {
                display: inline-block;
                width: calc(20% - 10px);
                margin: 0 5px;
                text-align: center;
                padding: 15px;
                vertical-align: top;

                .amount {
                    background: $theme;
                    color: #fff;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 15px;
                    display: inline-block;
                    border-radius: $border-radius-base;
                    position: relative;
                    margin: 0 auto 20px;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        border-top: 10px solid $theme;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                    }
                }

                .thumb {
                    display: block;
                    text-align: center;
                    height: 64px;
                    line-height: 64px;
                    margin-bottom: 10px;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: normal;
                    }
                }

                .title {
                    font-size: 12px;
                }
            }
        }

        .creatures {
            display: block;

            .creature {
                display: inline-block;
                width: calc(20% - 10px);
                margin: 0 5px;
                text-align: center;
                padding: 15px;
                vertical-align: top;

                .health {
                    background: $theme;
                    color: #fff;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 15px;
                    display: inline-block;
                    border-radius: $border-radius-base;
                    position: relative;
                    margin: 0 auto 20px;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        border-top: 10px solid $theme;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                    }
                }

                .thumb {
                    display: block;
                    text-align: center;
                    height: 64px;
                    line-height: 64px;
                    margin-bottom: 10px;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: normal;
                    }
                }

                .title {
                    font-size: 12px;
                }
            }
        }

        .loots {
            display: block;

            .loot {
                display: inline-block;
                width: calc(20% - 10px);
                margin: 0 5px;
                text-align: center;
                padding: 15px;
                vertical-align: top;

                .price {
                    background: #888;
                    color: #fff;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 15px;
                    display: inline-block;
                    border-radius: $border-radius-base;
                    position: relative;
                    margin: 0 auto 20px;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        border-top: 10px solid #888;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                    }

                    &.high {
                        background: $brand-success;

                        &:after {
                            border-top-color: $brand-success;
                        }
                    }

                    &.mid {
                        background: $brand-primary;

                        &:after {
                            border-top-color: $brand-primary;
                        }
                    }

                    &.low {
                        background: $brand-warning;

                        &:after {
                            border-top-color: $brand-warning;
                        }
                    }
                }

                .thumb {
                    display: block;
                    text-align: center;
                    height: 64px;
                    line-height: 64px;
                    margin-bottom: 10px;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: normal;
                    }
                }

                .title {
                    font-size: 12px;
                }
            }
        }

        .features {
            span {
                display: block;
                font-size: 14px;
                display: block;
                color: #999;
            }

            b {
                font-weight: 300;
                font-size: 24px;
                display: block;

                i {
                    font-size: 14px;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

        .requirements {
            margin-top: 42px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                
                li {
                    display: block;
                    margin-bottom: 10px;
                    text-align: left;

                    &:last-child {
                        margin: 0;
                    }
                    
                    span {
                        display: block;
                    }
                    
                    b {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}