#imbuements {
    .table {
        &.imbuements {
            tr {
                td {
                    .title {
                        font-weight: 400;
                        display: block;
                    }

                    .subtitle {
                        display: block;
                        font-size: 12px;
                        font-weight: 300;
                        color: #888;
                    }

                    select {
                        height: 50px;
                        line-height: 50px;
                        font-weight: 300;
                        width: 70px;
                    }

                    &.item {
                        width: 195px;

                        .price {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .input-group {
                            width: 120px;

                            .input-group-addon {
                                background: #fff;
                                padding: 5px;

                                &.disabled {
                                    background: #eee;
                                }
                            }

                            input {
                                height: 50px;
                                line-height: 50px;
                                font-weight: 300;
                                text-align: right;
                                border-left: 0;
                                box-shadow: none;

                                &:focus,
                                &:active,
                                &:hover {
                                    outline: 0 !important;
                                    box-shadow: none;
                                    border-color: #ccd0d2;
                                }
                            }
                        }

                        .gold-token {
                            display: inline-block;
                            vertical-align: middle;
                            background: none;
                            border: 0;
                            opacity: 0.3;

                            &.active {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}