.imbuements-form {
    .items {
        .item {
            background: #f3f3f3;
            padding: 10px;

            h4 {
                margin: 0 0 20px;
            }

            .form-group {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#imbuements {
    table {
        tr {
            td {
                p {
                    font-size: 12px;
                    margin: 0;
                }

                small {
                    font-size: 11px;
                }

                input:not(.normal), select {
                    height: 50px;
                }
            }
        }
    }
}