.imbuements-form {
    .items {
        .item {
            background: #f3f3f3;
            padding: 10px;

            h4 {
                margin: 0 0 20px;
            }

            .form-group {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#imbuements {
    .gold-token {
        .form-control {
            height: 50px;
            line-height: 50px;
            font-weight: 300;
        }

        .el-input-number {
            width: 100%;

            .el-input-number__increase,
            .el-input-number__decrease {
                height: 48px;
                line-height: 48px;
            }

            .el-input {
                .el-input__inner {
                    height: 50px;
                    line-height: 50px;
                    font-weight: 400;
                }
            }
        }

        .el-checkbox {
            margin-top: 14px;
            display: inline-block;
            vertical-align: middle;

            .el-checkbox__label {
                font-weight: 300;
            }
        }

        .el-switch {
            display: inline-block;
            vertical-align: middle;
            margin-top: -7px;
        }

        .el-radio-group {
            width: 100%;

            .el-radio-button {
                margin: 0;
                width: 33%;

                .el-radio-button__inner {
                    font-weight: 300;
                    height: 50px;
                    line-height: 50px;
                    width: 100%;
                    padding: 0 20px;
                }
            }
        }

        .el-switch {
            padding: 14px 0;

            .el-switch__label {
                top: 50%;
                font-weight: 300;

                span {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }

    table {
        tr {
            td {
                p {
                    font-size: 12px;
                    margin: 0;
                }

                small {
                    font-size: 11px;
                }

                input:not(.normal), select {
                    height: 50px;
                }

                .best {
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
    }
}