a, button {
    &:focus,
    &:active {
        outline: 0;
    }
}

#topbar {
    background: $theme;
    color: #fff;
    height: 70px;
    line-height: 70px;

    .rashid {
        img {
            display: inline;
            margin-right: 15px;
            vertical-align: middle;
        }

        > span {
            line-height: normal;
            display: inline-block;
            vertical-align: middle;

            .welcome {
                display: block;
            }

            .visit {
                display: block;

                b {
                    fons-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }

    .url {
        text-transform: uppercase;
        font-size: 12px;
    }

    a {
        color: #fff;
    }
}

#header {
    background: url('/src/assets/images/header.jpg') top center;
    display: block;
    height: 270px;
    width: 100%;
    position: relative;

    .container {
        position: relative;
        height: 100%;

        .logo {
            font-size: 70px;
            font-weight: 300;
            color: #fff;
            line-height: 170px;
        }

        #nav {
            position: absolute;
            bottom: -12px;
            left: 50%;
            display: block;
            width: 100%;
            transform: translateX(-50%);
            background: #3d3d3d;
            height: 100px;
            border-radius: 0;
            margin: 0;
            z-index: 9;

            > ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                height: 88px;
                display: table;
                background: #fff;
                position: relative;

                > li {
                    display: table-cell;
                    float: none;
                    text-align: center;

                    &.active, &:hover {
                        a {
                            background: #3d3d3d;
                            color: #fff;
                        }
                    }

                    &.home {
                        width: 120px;

                        i {
                            font-size: 50px;
                        }
                    }

                    > a {
                        display: block;
                        height: 88px;
                        line-height: 88px;
                        padding: 0 20px;
                        position: relative;
                        float: left;
                        text-align: center;
                        width: 100%;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 12px;
                        color: lighten($theme-dark, 20%);
                        transition: all 0.2s;

                        &:hover {
                            color: none;
                        }

                        .left {
                            display: inline-block;
                            width: 32px;
                            margin-right: 10px;
                            vertical-align: top;
                        }

                        .center {
                            display: inline-block;
                            line-height: 16px;
                            vertical-align: middle;
                            text-align: left;

                            span {
                                display: block;
                            }

                            small {
                                display: block;
                                font-weight: 400;
                                font-size: 12px;
                                text-transform: initial;
                            }
                        }

                        .label {
                            margin-left: 10px;
                        }
                    }

                    &:not(.home) {
                        i {
                            margin-right: 10px;
                            font-size: 25px;
                            display: inline-block;
                            vertical-align: top;
                        }
                    }

                    &.with-child {
                        &:hover {

                            ul {
                                display: block;
                            }
                        }

                        ul {
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 88px;
                            width: 100%;
                            list-style: none;
                            text-align: left;
                            padding: 0;
                            margin: 0;
                            background: #3d3d3d;
                            z-index: 99999;
                            padding: 10px;

                            li {
                                padding: 20px;
                                display: inline-block;
                                float: none;
                                width: calc(20% - 10px);

                                a {
                                    color: #fff;
                                    text-transform: uppercase;
                                    font-weight: 600;
                                    font-size: 12px;

                                    .left {
                                        display: inline-block;
                                        width: 32px;
                                        margin-right: 10px;
                                        vertical-align: top;
                                    }

                                    .center {
                                        display: inline-block;
                                        line-height: 16px;
                                        vertical-align: middle;
                                        text-align: left;

                                        span {
                                            display: block;
                                        }

                                        small {
                                            margin-top: 5px;
                                            display: block;
                                            font-weight: 400;
                                            font-size: 12px;
                                            text-transform: initial;
                                            color: #ddd;
                                        }
                                    }

                                    .label {
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > ul {
                &.admin-menu {
                    background: #3d3d3d;
                    height: 40px;

                    li {
                        display: block;
                        float: left;

                        a {
                            height: 40px;
                            line-height: 40px;
                            color: #fff;

                            i {
                                font-size: 14px;
                            }
                        }

                        > span {
                            display: block;
                            line-height: 40px;
                            height: 40px;
                            color: #888;
                            padding: 0 20px;
                            font-weight: 300;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

#content {
    &:before {
        content: '';
        background: #c5c5c5 url('/src/assets/images/background.jpg') 50% 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .15;
        display: block;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .page {
        padding: 50px 0;

        &.no-padding {
            padding: 0;
        }

        .page-title {
            display: block;
            margin-bottom: 50px;

            img {
                margin-right: 20px;
                display: inline-block;
                vertical-align: top;
            }

            .title {
                display: inline-block;
                vertical-align: top;

                h2 {
                    font-size: 30px;
                    font-weight: 600;
                    color: $theme;
                    margin: 0;
                    padding: 0;
                }

                span {
                    display: block;
                    font-size: 18px;
                    font-weight: 300;
                    margin-top: 7px;
                    color: #666;
                }
            }
        }
    }
}

#footer {
    display: block;
    margin-top: 30px;
    text-align: center;

    .bar {
        background: #292929;
        padding: 30px 0;

        a {
            color: #fff;
            font-size: 20px;
            font-weight: 300;

            &:hover {
                color: #ddd;
            }
        }
    }

    .rights {
        background: #212121;
        padding: 40px 0;
        font-size: 12px;

        .tibia {
            max-width: 700px;
            margin: 0 auto;
            line-height: 22px;
        }

        a {
            color: $theme;
        }
    }
}