#lootcount {
    .el-select {
        .el-input__inner {
            cursor: text;
        }
    }

    .headers {
        h4 {
            font-size: 20px;
            font-weight: 300;
            display: block;
            margin: 0 0 20px;
        }
        
        .btn-title {
            display: inline-block;
            vertical-align: middle;
        }
        
        section {
            display: block;

            .total {
                display: block;
                margin-top: 30px;
                font-size: 20px;
                font-weight: 300;
            }
        }

        .chart {
            section {
                margin-top: 20px;
                text-align: center;

                .highchart {
                    margin-top: 41px;
                }
            }
        }

        .waste,
        .profit {
            b {
                font-size: 24px;
                font-weight: 400;
                display: inline-block;
                vertical-align: baseline;
            }
        }

        .with-teammates {
            .waste,
            .profit {
                b {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .teammates {
            height: 365px;

            table {
                tr {
                    th,
                    td {
                        font-size: 12px;
                        font-weight: 300;
                        padding: 5px 10px;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }

                    th {
                        padding-bottom: 15px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .npc-title {
        margin: 0 0 40px;
        display: block;
        font-size: 24px;
        font-weight: 300;

        img {
            margin-right: 15px;
        }
    }

    .el-tabs {
        margin-top: 40px;

        .el-tabs__item {
            &.is-active {
                //background: #fff;
            }
        }
    }

    .items {
        .item {
            position: relative;

            .form-control {
                height: 50px;
                line-height: 50px;
            }

            .el-input-number {
                .el-input {
                    .el-input__inner {
                        height: 50px;
                        line-height: 50px;
                    }
                }

                .el-input-number__increase,
                .el-input-number__decrease {
                    height: 48px;
                    line-height: 48px;
                    font-size: 10px;
                    width: 28px;
                }

                .el-input-number__decrease {
                    right: 28px;
                }
            }

            &:hover {
                header {
                    span {
                        .name {
                            display: none;
                        }
                        
                        .total {
                            display: block;
                        }
                    }
                }
                
                .btn {
                    &.btn-remove {
                        display: block;
                    }
                }
            }

            .btn {
                &.btn-remove {
                    padding: 0;
                    position: absolute;
                    right: 20px;
                    top: 27px;
                    font-size: 20px;
                    line-height: 20px;
                    display: none;
                    color: $brand-danger;
                }
            }

            header {
                > span {
                    font-size: 16px;
                    font-weight: 300;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: calc(100% - 55px);
                    display: inline-block;
                    vertical-align: middle;
                    
                    .name {
                        display: block;
                        vertical-align: middle;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    
                    .total {
                        display: none;
                    }
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            section {
                display: block;
                margin-top: 20px;

                .quantity {
                    display: inline-block;
                    width: calc(30% - 10px);
                    margin-right: 10px;
                }

                .price {
                    display: inline-block;
                    width: calc(70% - 10px);
                }

                .quantityLabel,
                .priceLabel {
                    display: inline-block;
                    width: calc(50% - 7px);
                    margin-right: 5px;
                    text-align: center;

                    span {
                        display: block;
                        font-weight: 300;
                        font-size: 14px;
                    }

                    b {
                        font-weigth: 600;
                        font-size: 16px;
                    }
                }

                .priceLabel {
                    margin-right: 0;
                    margin-left: 5px;
                }
            }
        }
    }
}