#speedboost {
    .form {
        input {
            height: 50px;
            font-size: 25px;
        }

        .helper-block {
            font-size: 10px;
            font-style: italic;
        }
    }

    .speed {
        font-size: 20px;
        text-align: center;
    }
}