table {
    &.info-table {
        width: 100%;

        tbody {
            tr {
                td {
                    padding: 10px 5px;
                    border: 1px solid #ddd;

                    &.head {
                        background: #444;
                        color: #fff;
                        font-weight: 600;
                        font-size: 12px;
                        border: 0;
                    }

                    &.title {
                        background: #555;
                        color: #fff;
                        font-weight: 600;
                        font-size: 12px;
                        border: 1px solid #878787;
                    }
                }
            }
        }
    }

    &.table {
        &.no-top-border {
            tbody {
                tr {
                    &:first-child {
                        td {
                            border: 0;
                        }
                    }
                }
            }
        }

        thead {
            tr {
                th {
                    padding: 12px 8px;
                    background: #444;
                    color: #fff;

                    &:first-child {
                        border-top-left-radius: $border-radius-base;
                    }

                    &:last-child {
                        border-top-right-radius: $border-radius-base;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }

        tfoot {
            tr {
                &.big {
                    th {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}