.tabs {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        vertical-align: bottom;

        &.active {
            a {
                background: #fff;
            }
        }

        a {
            background: #eee;
            border-top-left-radius: $border-radius-base;
            border-top-right-radius: $border-radius-base;
            padding: 0 20px;
            display: block;
            height: 52px;
            line-height: 52px;
            color: lighten($theme-dark, 20%);

            i {
                font-size: 20px;
            }

            span {
                line-height: 52px;
                vertical-align: top;
            }
        }

        i {}
    }
}

.tab-content {
    &.panel {
        margin-bottom: 0;
    }
}

.tab-footer {

}