#timer {
    .addPanel {
        .el-cascader {
            width: 100%;

            .el-input {
                input {
                    height: 50px;
                    line-height: 50px;
                }
            }

            .el-cascader__label {
                line-height: 50px;
                font-weight: 300;
            }
        }

        .form-control {
            height: 50px;
            line-height: 50px;
            font-weight: 300;
        }

        .btn {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
        }
    }

    .timers {
        .timer {
            height: 180px;
            position: relative;
            border-left: 4px solid #000;

            &.task {
                border-color: #27ae60;
            }

            &.boss {
                border-color: #2980b9;
            }

            .thumb {
                display: inline-block;
                width: 64px;
                margin-right: 20px;
                vertical-align: middle;
            }

            .data {
                vertical-align: middle;
                display: inline-block;
                width: calc(100% - 90px);

                .name {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                .character {
                    display: block;
                    font-weight: 300;
                    font-size: 12px;
                    margin-bottom: 20px;
                }

                .info {
                    display: block;
                    width: 100%;

                    .available {
                        height: 23px;
                        line-height: 23px;
                        display: block;
                        font-size: 18px;
                        font-weight: 300;
                        color: $brand-success;
                    }

                    .countdown {
                        height: 23px;
                        line-height: 23px;
                        display: block;
                        font-size: 24px;
                        font-weight: 300;
                    }

                    .buttons {
                        display: block;
                        margin-top: 20px;

                        button {
                            &.btn {
                                font-size: 10px;
                                font-weight: 300;
                                padding: 0 10px;
                                height: 25px;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}