#timer {
    .addPanel {
        .el-cascader {
            width: 100%;

            .el-input {
                input {
                    height: 50px;
                    line-height: 50px;
                }
            }

            .el-cascader__label {
                line-height: 50px;
                font-weight: 300;
            }
        }

        .form-control {
            height: 50px;
            line-height: 50px;
            font-weight: 300;
        }

        .btn {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
        }
    }

    .timers {
        .timer {
            position: relative;

            .btn-remove {
                position: absolute;
                top: 0;
                right: 0;
                padding: 3px 6px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background: $brand-danger;
                color: #fff;
            }

            .type {
                font-size: 12px;
                font-weight: 300;
                position: absolute;
                top: 0;
                left: 0;
                padding: 3px 6px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: $border-radius-base;
                border-bottom-left-radius: 0;
                color: #fff;

                &.boss {
                    background: $brand-primary;
                }

                &.task {
                    background: $brand-warning;
                }
            }

            .thumb {
                display: inline-block;
                width: 64px;
                margin-right: 20px;
                vertical-align: middle;
            }

            .data {
                vertical-align: middle;
                display: inline-block;
                width: calc(100% - 90px);

                .name {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                }

                .respawn {
                    display: block;
                    font-size: 12px;
                    font-weight: 300;
                    color: #999;
                    margin-bottom: 15px;
                    font-style: italic;

                    b {
                        font-weight: 400;
                    }
                }

                .character {
                    display: block;
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .countdown {
                    display: block;
                    font-size: 30px;
                    font-weight: 300;

                    .available {
                        color: $brand-success;
                    }

                    .btn-reset {
                        border-radius: 200px;
                        vertical-align: middle;
                        display: inline-block;
                        padding: 5px 8px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}