#timer {
    .add {
        .form-control {
            display: inline-block;
            margin-right: 5px;
            width: 150px;
            vertical-align: top;
        }

        .btn {
            display: inline-block;
            vertical-align: top;
            padding: 0 12px;
            height: 36px;
            line-height: 36px;
        }
    }

    .timers {
        .timer {
            position: relative;

            .btn-remove {
                position: absolute;
                top: 0;
                right: 0;
                padding: 6px 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background: $brand-danger;
                color: #fff;
            }

            .thumb {
                display: inline-block;
                width: 64px;
                margin-right: 20px;
                vertical-align: middle;
            }

            .data {
                vertical-align: middle;
                display: inline-block;
                width: calc(100% - 90px);

                .name {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                }

                .respawn {
                    display: block;
                    font-size: 12px;
                    font-weight: 300;
                    color: #999;
                    margin-bottom: 15px;
                    font-style: italic;

                    b {
                        font-weight: 400;
                    }
                }

                .character {
                    display: block;
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .countdown {
                    display: block;
                    font-size: 30px;
                    font-weight: 300;

                    .available {
                        color: $brand-success;
                    }

                    .btn-reset {
                        border-radius: 200px;
                        vertical-align: middle;
                        display: inline-block;
                        padding: 5px 8px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}