#warzone {
    .stats {
        .panel {
            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            .info {
                display: inline-block;
                vertical-align: middle;

                strong {
                    font-size: 16px;
                    display: block;
                }

                span {
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }

    .summary {
        .panel {

        }
    }
}