.note-editor {
    .btn-default {
        background: #fff;
        border: 1px solid #d1d1d1;
        color: #444;

        &:hover {
            background: #f2f2f2;
            color: #444;
        }
    }

    //.note-icon-font {
    //    background: none !important;
    //}

    img {
        &.note-float-left {
            margin-right: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &.note-float-right {
            margin-left: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .note-group-select-from-files {
        display: none;
    }

    .note-editable {
        a {
            color: $theme;
        }
    }

    .panel-heading.note-toolbar .note-para .dropdown-menu {
        min-width: 336px;
    }

}